<a href="https://colab.research.google.com/github/NgocCaro/Python_self_study/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scraping Data from a Real website

In [1]:
# Import thư viện
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url) # gửi yêu cầu tới url
print(page)

<Response [200]>

In [3]:
soup = BeautifulSoup(page.text, 'html') # truy vấn HTML dạng thô
#print(soup)

In [ ]:
# Task: trích xuất được bảng "List of companies by profit" < tức là bảng thứ 3 trong web index = 3, kiểm tra kỹ lại index table
# vì trên đầu web cũng có 1 table chỗ hình quyển sách> và lưu thành 1 file CSV

In [4]:
table_3 = soup.find_all('table')[3] # xem nội dung html trong bảng thứ 3 muốn extract ra
#print(table_3)

In [ ]:
# Lấy ra tất cả tiêu đề trong bảng 3 đó

In [5]:
# trước hết xem các thẻ tiêu đề đó 'th'
companies_titles = table_3.find_all('th')
#print(companies_titles)

In [6]:
company_title = [title.text.strip() for title in companies_titles]
#print(company_title)

In [7]:
# tạo ra Dataframe
df = pd.DataFrame(columns = company_title)
#df

In [8]:
# lấy ra tất cả các hàng, tức là thẻ 'tr'
column_data = table_3.find_all('tr')
#print(column_data)

In [9]:
# duyệt từng hàng để lấy ra từng cột, trường hợp này duyệt từ hàng index =1 vì index=0 trùng với cái tiêu đề rồi, cứ đọc kỹ script html là thấy rõ
for row in column_data[1:]: # duyệt từng 'tr'
  row_data= row.find_all('td') # lấy tất cả "td"
  invidual_row_data = [data.text.strip() for data in row_data]
  # length = len(df)
  # df.loc[length] = invidual_row_data
print(df)

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [10]:
# nên dùng cách này, dễ hiểu hơn
for row in column_data[1:]:
  col = row.find_all('td')
  if len(col)!=0:
    data_dict = {'Rank':col[0].contents[0].strip(),
                 'Name':col[1].find_all('a')[0],
                 'Industry':col[2].contents[0].strip(),
                 'Profits(USD millions)': col[3].contents[0].strip()}
    df1 = pd.DataFrame(data_dict, index=[0])
    df = pd.concat([df,df1], ignore_index= True)
df

,Rank,Name,Industry,Profits(USD millions)
0,1,Apple,Electronics,"99,803"
1,2,Microsoft,Technology,"72,738"
2,3,Alphabet,Technology,"59,972"
3,4,United States Postal Service,Logistics,"56,046"
4,5,ExxonMobil,Petroleum industry,"55,740"
5,6,JPMorgan Chase,Financials,"37,676"
6,7,Chevron Corporation,Petroleum industry,"35,465"
7,8,Pfizer,Pharmaceutical industry,"31,372"
8,9,Bank of America,Financials,"27,528"
9,10,Meta Platforms,Technology,"23,200"